{
  "basePath": "",
  "baseUrl": "https://generativelanguage.googleapis.com/",
  "batchPath": "batch",
  "canonicalName": "Generative Language",
  "description": "The Gemini API allows developers to build generative AI applications using Gemini models. Gemini is our most capable model, built from the ground up to be multimodal. It can generalize and seamlessly understand, operate across, and combine different types of information including language, images, audio, video, and code. You can use the Gemini API for use cases like reasoning across text and images, content generation, dialogue agents, summarization and classification systems, and more.",
  "discoveryVersion": "v1",
  "documentationLink": "https://developers.generativeai.google/api",
  "fullyEncodeReservedExpansion": true,
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "id": "generativelanguage:v1",
  "kind": "discovery#restDescription",
  "mtlsRootUrl": "https://generativelanguage.mtls.googleapis.com/",
  "name": "generativelanguage",
  "ownerDomain": "google.com",
  "ownerName": "Google",
  "parameters": {
    "$.xgafv": {
      "description": "V1 error format.",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ],
      "location": "query",
      "type": "string"
    },
    "access_token": {
      "description": "OAuth access token.",
      "location": "query",
      "type": "string"
    },
    "alt": {
      "default": "json",
      "description": "Data format for response.",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "type": "string"
    },
    "callback": {
      "description": "JSONP",
      "location": "query",
      "type": "string"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "location": "query",
      "type": "string"
    },
    "key": {
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "location": "query",
      "type": "string"
    },
    "oauth_token": {
      "description": "OAuth 2.0 token for the current user.",
      "location": "query",
      "type": "string"
    },
    "prettyPrint": {
      "default": "true",
      "description": "Returns response with indentations and line breaks.",
      "location": "query",
      "type": "boolean"
    },
    "quotaUser": {
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query",
      "type": "string"
    },
    "uploadType": {
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
      "location": "query",
      "type": "string"
    },
    "upload_protocol": {
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
      "location": "query",
      "type": "string"
    }
  },
  "protocol": "rest",
  "resources": {
    "batches": {
      "methods": {
        "cancel": {
          "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
          "flatPath": "v1/batches/{batchesId}:cancel",
          "httpMethod": "POST",
          "id": "generativelanguage.batches.cancel",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be cancelled.",
              "location": "path",
              "pattern": "^batches/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}:cancel",
          "response": {
            "$ref": "Empty"
          }
        },
        "delete": {
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/batches/{batchesId}",
          "httpMethod": "DELETE",
          "id": "generativelanguage.batches.delete",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "pattern": "^batches/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          }
        },
        "get": {
          "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
          "flatPath": "v1/batches/{batchesId}",
          "httpMethod": "GET",
          "id": "generativelanguage.batches.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource.",
              "location": "path",
              "pattern": "^batches/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "Operation"
          }
        },
        "list": {
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "flatPath": "v1/batches",
          "httpMethod": "GET",
          "id": "generativelanguage.batches.list",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "pattern": "^batches$",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "returnPartialSuccess": {
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "ListOperationsResponse"
          }
        },
        "updateEmbedContentBatch": {
          "description": "Updates a batch of EmbedContent requests for batch processing.",
          "flatPath": "v1/batches/{batchesId}:updateEmbedContentBatch",
          "httpMethod": "PATCH",
          "id": "generativelanguage.batches.updateEmbedContentBatch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
              "location": "path",
              "pattern": "^batches/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. The list of fields to update.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+name}:updateEmbedContentBatch",
          "request": {
            "$ref": "EmbedContentBatch"
          },
          "response": {
            "$ref": "EmbedContentBatch"
          }
        },
        "updateGenerateContentBatch": {
          "description": "Updates a batch of GenerateContent requests for batch processing.",
          "flatPath": "v1/batches/{batchesId}:updateGenerateContentBatch",
          "httpMethod": "PATCH",
          "id": "generativelanguage.batches.updateGenerateContentBatch",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
              "location": "path",
              "pattern": "^batches/[^/]+$",
              "required": true,
              "type": "string"
            },
            "updateMask": {
              "description": "Optional. The list of fields to update.",
              "format": "google-fieldmask",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/{+name}:updateGenerateContentBatch",
          "request": {
            "$ref": "GenerateContentBatch"
          },
          "response": {
            "$ref": "GenerateContentBatch"
          }
        }
      }
    },
    "corpora": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/corpora/{corporaId}/operations/{operationsId}",
              "httpMethod": "GET",
              "id": "generativelanguage.corpora.operations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^corpora/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    },
    "dynamic": {
      "methods": {
        "generateContent": {
          "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
          "flatPath": "v1/dynamic/{dynamicId}:generateContent",
          "httpMethod": "POST",
          "id": "generativelanguage.dynamic.generateContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^dynamic/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:generateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "response": {
            "$ref": "GenerateContentResponse"
          }
        },
        "streamGenerateContent": {
          "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
          "flatPath": "v1/dynamic/{dynamicId}:streamGenerateContent",
          "httpMethod": "POST",
          "id": "generativelanguage.dynamic.streamGenerateContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^dynamic/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:streamGenerateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "response": {
            "$ref": "GenerateContentResponse"
          }
        }
      }
    },
    "fileSearchStores": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/fileSearchStores/{fileSearchStoresId}/operations/{operationsId}",
              "httpMethod": "GET",
              "id": "generativelanguage.fileSearchStores.operations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^fileSearchStores/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        },
        "upload": {
          "resources": {
            "operations": {
              "methods": {
                "get": {
                  "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
                  "flatPath": "v1/fileSearchStores/{fileSearchStoresId}/upload/operations/{operationsId}",
                  "httpMethod": "GET",
                  "id": "generativelanguage.fileSearchStores.upload.operations.get",
                  "parameterOrder": [
                    "name"
                  ],
                  "parameters": {
                    "name": {
                      "description": "The name of the operation resource.",
                      "location": "path",
                      "pattern": "^fileSearchStores/[^/]+/upload/operations/[^/]+$",
                      "required": true,
                      "type": "string"
                    }
                  },
                  "path": "v1/{+name}",
                  "response": {
                    "$ref": "Operation"
                  }
                }
              }
            }
          }
        }
      }
    },
    "generatedFiles": {
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/generatedFiles/{generatedFilesId}/operations/{operationsId}",
              "httpMethod": "GET",
              "id": "generativelanguage.generatedFiles.operations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^generatedFiles/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Operation"
              }
            }
          }
        }
      }
    },
    "models": {
      "methods": {
        "asyncBatchEmbedContent": {
          "description": "Enqueues a batch of `EmbedContent` requests for batch processing. We have a `BatchEmbedContents` handler in `GenerativeService`, but it was synchronized. So we name this one to be `Async` to avoid confusion.",
          "flatPath": "v1/models/{modelsId}:asyncBatchEmbedContent",
          "httpMethod": "POST",
          "id": "generativelanguage.models.asyncBatchEmbedContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:asyncBatchEmbedContent",
          "request": {
            "$ref": "AsyncBatchEmbedContentRequest"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "batchEmbedContents": {
          "description": "Generates multiple embedding vectors from the input `Content` which consists of a batch of strings represented as `EmbedContentRequest` objects.",
          "flatPath": "v1/models/{modelsId}:batchEmbedContents",
          "httpMethod": "POST",
          "id": "generativelanguage.models.batchEmbedContents",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:batchEmbedContents",
          "request": {
            "$ref": "BatchEmbedContentsRequest"
          },
          "response": {
            "$ref": "BatchEmbedContentsResponse"
          }
        },
        "batchGenerateContent": {
          "description": "Enqueues a batch of `GenerateContent` requests for batch processing.",
          "flatPath": "v1/models/{modelsId}:batchGenerateContent",
          "httpMethod": "POST",
          "id": "generativelanguage.models.batchGenerateContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:batchGenerateContent",
          "request": {
            "$ref": "BatchGenerateContentRequest"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "countTokens": {
          "description": "Runs a model's tokenizer on input `Content` and returns the token count. Refer to the [tokens guide](https://ai.google.dev/gemini-api/docs/tokens) to learn more about tokens.",
          "flatPath": "v1/models/{modelsId}:countTokens",
          "httpMethod": "POST",
          "id": "generativelanguage.models.countTokens",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:countTokens",
          "request": {
            "$ref": "CountTokensRequest"
          },
          "response": {
            "$ref": "CountTokensResponse"
          }
        },
        "embedContent": {
          "description": "Generates a text embedding vector from the input `Content` using the specified [Gemini Embedding model](https://ai.google.dev/gemini-api/docs/models/gemini#text-embedding).",
          "flatPath": "v1/models/{modelsId}:embedContent",
          "httpMethod": "POST",
          "id": "generativelanguage.models.embedContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:embedContent",
          "request": {
            "$ref": "EmbedContentRequest"
          },
          "response": {
            "$ref": "EmbedContentResponse"
          }
        },
        "generateContent": {
          "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
          "flatPath": "v1/models/{modelsId}:generateContent",
          "httpMethod": "POST",
          "id": "generativelanguage.models.generateContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:generateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "response": {
            "$ref": "GenerateContentResponse"
          }
        },
        "get": {
          "description": "Gets information about a specific `Model` such as its version number, token limits, [parameters](https://ai.google.dev/gemini-api/docs/models/generative-models#model-parameters) and other metadata. Refer to the [Gemini models guide](https://ai.google.dev/gemini-api/docs/models/gemini) for detailed model information.",
          "flatPath": "v1/models/{modelsId}",
          "httpMethod": "GET",
          "id": "generativelanguage.models.get",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "Required. The resource name of the model. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "Model"
          }
        },
        "list": {
          "description": "Lists the [`Model`s](https://ai.google.dev/gemini-api/docs/models/gemini) available through the Gemini API.",
          "flatPath": "v1/models",
          "httpMethod": "GET",
          "id": "generativelanguage.models.list",
          "parameterOrder": [],
          "parameters": {
            "pageSize": {
              "description": "The maximum number of `Models` to return (per page). If unspecified, 50 models will be returned per page. This method returns at most 1000 models per page, even if you pass a larger page_size.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "A page token, received from a previous `ListModels` call. Provide the `page_token` returned by one request as an argument to the next request to retrieve the next page. When paginating, all other parameters provided to `ListModels` must match the call that provided the page token.",
              "location": "query",
              "type": "string"
            }
          },
          "path": "v1/models",
          "response": {
            "$ref": "ListModelsResponse"
          }
        },
        "streamGenerateContent": {
          "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
          "flatPath": "v1/models/{modelsId}:streamGenerateContent",
          "httpMethod": "POST",
          "id": "generativelanguage.models.streamGenerateContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^models/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:streamGenerateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "response": {
            "$ref": "GenerateContentResponse"
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/models/{modelsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "id": "generativelanguage.models.operations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^models/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/models/{modelsId}/operations",
              "httpMethod": "GET",
              "id": "generativelanguage.models.operations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "pattern": "^models/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "ListOperationsResponse"
              }
            }
          }
        }
      }
    },
    "operations": {
      "methods": {
        "delete": {
          "description": "Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.",
          "flatPath": "v1/operations/{operationsId}",
          "httpMethod": "DELETE",
          "id": "generativelanguage.operations.delete",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "description": "The name of the operation resource to be deleted.",
              "location": "path",
              "pattern": "^operations/.*$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "Empty"
          }
        },
        "list": {
          "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
          "flatPath": "v1/operations",
          "httpMethod": "GET",
          "id": "generativelanguage.operations.list",
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "filter": {
              "description": "The standard list filter.",
              "location": "query",
              "type": "string"
            },
            "name": {
              "description": "The name of the operation's parent resource.",
              "location": "path",
              "pattern": "^operations$",
              "required": true,
              "type": "string"
            },
            "pageSize": {
              "description": "The standard list page size.",
              "format": "int32",
              "location": "query",
              "type": "integer"
            },
            "pageToken": {
              "description": "The standard list page token.",
              "location": "query",
              "type": "string"
            },
            "returnPartialSuccess": {
              "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
              "location": "query",
              "type": "boolean"
            }
          },
          "path": "v1/{+name}",
          "response": {
            "$ref": "ListOperationsResponse"
          }
        }
      }
    },
    "tunedModels": {
      "methods": {
        "asyncBatchEmbedContent": {
          "description": "Enqueues a batch of `EmbedContent` requests for batch processing. We have a `BatchEmbedContents` handler in `GenerativeService`, but it was synchronized. So we name this one to be `Async` to avoid confusion.",
          "flatPath": "v1/tunedModels/{tunedModelsId}:asyncBatchEmbedContent",
          "httpMethod": "POST",
          "id": "generativelanguage.tunedModels.asyncBatchEmbedContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:asyncBatchEmbedContent",
          "request": {
            "$ref": "AsyncBatchEmbedContentRequest"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "batchGenerateContent": {
          "description": "Enqueues a batch of `GenerateContent` requests for batch processing.",
          "flatPath": "v1/tunedModels/{tunedModelsId}:batchGenerateContent",
          "httpMethod": "POST",
          "id": "generativelanguage.tunedModels.batchGenerateContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:batchGenerateContent",
          "request": {
            "$ref": "BatchGenerateContentRequest"
          },
          "response": {
            "$ref": "Operation"
          }
        },
        "generateContent": {
          "description": "Generates a model response given an input `GenerateContentRequest`. Refer to the [text generation guide](https://ai.google.dev/gemini-api/docs/text-generation) for detailed usage information. Input capabilities differ between models, including tuned models. Refer to the [model guide](https://ai.google.dev/gemini-api/docs/models/gemini) and [tuning guide](https://ai.google.dev/gemini-api/docs/model-tuning) for details.",
          "flatPath": "v1/tunedModels/{tunedModelsId}:generateContent",
          "httpMethod": "POST",
          "id": "generativelanguage.tunedModels.generateContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:generateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "response": {
            "$ref": "GenerateContentResponse"
          }
        },
        "streamGenerateContent": {
          "description": "Generates a [streamed response](https://ai.google.dev/gemini-api/docs/text-generation?lang=python#generate-a-text-stream) from the model given an input `GenerateContentRequest`.",
          "flatPath": "v1/tunedModels/{tunedModelsId}:streamGenerateContent",
          "httpMethod": "POST",
          "id": "generativelanguage.tunedModels.streamGenerateContent",
          "parameterOrder": [
            "model"
          ],
          "parameters": {
            "model": {
              "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
              "location": "path",
              "pattern": "^tunedModels/[^/]+$",
              "required": true,
              "type": "string"
            }
          },
          "path": "v1/{+model}:streamGenerateContent",
          "request": {
            "$ref": "GenerateContentRequest"
          },
          "response": {
            "$ref": "GenerateContentResponse"
          }
        }
      },
      "resources": {
        "operations": {
          "methods": {
            "cancel": {
              "description": "Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of `1`, corresponding to `Code.CANCELLED`.",
              "flatPath": "v1/tunedModels/{tunedModelsId}/operations/{operationsId}:cancel",
              "httpMethod": "POST",
              "id": "generativelanguage.tunedModels.operations.cancel",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource to be cancelled.",
                  "location": "path",
                  "pattern": "^tunedModels/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}:cancel",
              "request": {
                "$ref": "CancelOperationRequest"
              },
              "response": {
                "$ref": "Empty"
              }
            },
            "get": {
              "description": "Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.",
              "flatPath": "v1/tunedModels/{tunedModelsId}/operations/{operationsId}",
              "httpMethod": "GET",
              "id": "generativelanguage.tunedModels.operations.get",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "name": {
                  "description": "The name of the operation resource.",
                  "location": "path",
                  "pattern": "^tunedModels/[^/]+/operations/[^/]+$",
                  "required": true,
                  "type": "string"
                }
              },
              "path": "v1/{+name}",
              "response": {
                "$ref": "Operation"
              }
            },
            "list": {
              "description": "Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.",
              "flatPath": "v1/tunedModels/{tunedModelsId}/operations",
              "httpMethod": "GET",
              "id": "generativelanguage.tunedModels.operations.list",
              "parameterOrder": [
                "name"
              ],
              "parameters": {
                "filter": {
                  "description": "The standard list filter.",
                  "location": "query",
                  "type": "string"
                },
                "name": {
                  "description": "The name of the operation's parent resource.",
                  "location": "path",
                  "pattern": "^tunedModels/[^/]+$",
                  "required": true,
                  "type": "string"
                },
                "pageSize": {
                  "description": "The standard list page size.",
                  "format": "int32",
                  "location": "query",
                  "type": "integer"
                },
                "pageToken": {
                  "description": "The standard list page token.",
                  "location": "query",
                  "type": "string"
                },
                "returnPartialSuccess": {
                  "description": "When set to `true`, operations that are reachable are returned as normal, and those that are unreachable are returned in the ListOperationsResponse.unreachable field. This can only be `true` when reading across collections. For example, when `parent` is set to `\"projects/example/locations/-\"`. This field is not supported by default and will result in an `UNIMPLEMENTED` error if set unless explicitly documented otherwise in service or product specific documentation.",
                  "location": "query",
                  "type": "boolean"
                }
              },
              "path": "v1/{+name}/operations",
              "response": {
                "$ref": "ListOperationsResponse"
              }
            }
          }
        }
      }
    }
  },
  "revision": "20260626",
  "rootUrl": "https://generativelanguage.googleapis.com/",
  "schemas": {
    "AsyncBatchEmbedContentRequest": {
      "description": "Request for an `AsyncBatchEmbedContent` operation.",
      "id": "AsyncBatchEmbedContentRequest",
      "properties": {
        "batch": {
          "$ref": "EmbedContentBatch",
          "description": "Required. The batch to create."
        }
      },
      "type": "object"
    },
    "BatchEmbedContentsRequest": {
      "description": "Batch request to get embeddings from the model for a list of prompts.",
      "id": "BatchEmbedContentsRequest",
      "properties": {
        "requests": {
          "description": "Required. Embed requests for the batch. The model in each of these requests must match the model specified `BatchEmbedContentsRequest.model`.",
          "items": {
            "$ref": "EmbedContentRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "BatchEmbedContentsResponse": {
      "description": "The response to a `BatchEmbedContentsRequest`.",
      "id": "BatchEmbedContentsResponse",
      "properties": {
        "embeddings": {
          "description": "Output only. The embeddings for each request, in the same order as provided in the batch request.",
          "items": {
            "$ref": "ContentEmbedding"
          },
          "readOnly": true,
          "type": "array"
        },
        "usageMetadata": {
          "$ref": "EmbeddingUsageMetadata",
          "description": "Output only. The usage metadata for the request.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "BatchGenerateContentRequest": {
      "description": "Request for a `BatchGenerateContent` operation.",
      "id": "BatchGenerateContentRequest",
      "properties": {
        "batch": {
          "$ref": "GenerateContentBatch",
          "description": "Required. The batch to create."
        }
      },
      "type": "object"
    },
    "BatchStats": {
      "description": "Stats about the batch.",
      "id": "BatchStats",
      "properties": {
        "failedRequestCount": {
          "description": "Output only. The number of requests that failed to be processed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "pendingRequestCount": {
          "description": "Output only. The number of requests that are still pending processing.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "requestCount": {
          "description": "Output only. The number of requests in the batch.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "successfulRequestCount": {
          "description": "Output only. The number of requests that were successfully processed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "Blob": {
      "description": "Raw media bytes. Text should not be sent as raw bytes, use the 'text' field.",
      "id": "Blob",
      "properties": {
        "data": {
          "description": "Raw bytes for media formats.",
          "format": "byte",
          "type": "string"
        },
        "mimeType": {
          "description": "The IANA standard MIME type of the source data. Examples of supported types: - Images: image/png, image/jpeg, image/jpg, image/webp, image/heic, image/heif, image/gif, image/avif - Audio: audio/*, video/audio/s16le, video/audio/wav - Video: video/* - Text: text/plain, text/html, text/css, text/javascript, text/x-typescript, text/csv, text/markdown, text/x-python, text/xml, text/rtf, video/text/timestamp - Applications: application/x-javascript, application/x-typescript, application/x-python-code, application/json, application/x-ipynb+json, application/rtf, application/pdf For additional context, see [Supported file formats](https://ai.google.dev/gemini-api/docs/file-input-methods#supported-content-types). //",
          "type": "string"
        }
      },
      "type": "object"
    },
    "CancelOperationRequest": {
      "description": "The request message for Operations.CancelOperation.",
      "id": "CancelOperationRequest",
      "properties": {},
      "type": "object"
    },
    "Candidate": {
      "description": "A response candidate generated from the model.",
      "id": "Candidate",
      "properties": {
        "avgLogprobs": {
          "description": "Output only. Average log probability score of the candidate.",
          "format": "double",
          "readOnly": true,
          "type": "number"
        },
        "citationMetadata": {
          "$ref": "CitationMetadata",
          "description": "Output only. Citation information for model-generated candidate. This field may be populated with recitation information for any text included in the `content`. These are passages that are \"recited\" from copyrighted material in the foundational LLM's training data.",
          "readOnly": true
        },
        "content": {
          "$ref": "Content",
          "description": "Output only. Generated content returned from the model.",
          "readOnly": true
        },
        "finishMessage": {
          "description": "Optional. Output only. Details the reason why the model stopped generating tokens. This is populated only when `finish_reason` is set.",
          "readOnly": true,
          "type": "string"
        },
        "finishReason": {
          "description": "Optional. Output only. The reason why the model stopped generating tokens. If empty, the model has not stopped generating tokens.",
          "enum": [
            "FINISH_REASON_UNSPECIFIED",
            "STOP",
            "MAX_TOKENS",
            "SAFETY",
            "RECITATION",
            "LANGUAGE",
            "OTHER",
            "BLOCKLIST",
            "PROHIBITED_CONTENT",
            "SPII",
            "MALFORMED_FUNCTION_CALL",
            "IMAGE_SAFETY",
            "IMAGE_PROHIBITED_CONTENT",
            "IMAGE_OTHER",
            "NO_IMAGE",
            "IMAGE_RECITATION",
            "UNEXPECTED_TOOL_CALL",
            "TOO_MANY_TOOL_CALLS",
            "MISSING_THOUGHT_SIGNATURE",
            "MALFORMED_RESPONSE",
            "ESCALATION"
          ],
          "enumDescriptions": [
            "Default value. This value is unused.",
            "Natural stop point of the model or provided stop sequence.",
            "The maximum number of tokens as specified in the request was reached.",
            "The response candidate content was flagged for safety reasons.",
            "The response candidate content was flagged for recitation reasons.",
            "The response candidate content was flagged for using an unsupported language.",
            "Unknown reason.",
            "Token generation stopped because the content contains forbidden terms.",
            "Token generation stopped for potentially containing prohibited content.",
            "Token generation stopped because the content potentially contains Sensitive Personally Identifiable Information (SPII).",
            "The function call generated by the model is invalid.",
            "Token generation stopped because generated images contain safety violations.",
            "Image generation stopped because generated images has other prohibited content.",
            "Image generation stopped because of other miscellaneous issue.",
            "The model was expected to generate an image, but none was generated.",
            "Image generation stopped due to recitation.",
            "Model generated a tool call but no tools were enabled in the request.",
            "Model called too many tools consecutively, thus the system exited execution.",
            "Request has at least one thought signature missing.",
            "Finished due to malformed response.",
            "Request was filtered by an escalation rule."
          ],
          "readOnly": true,
          "type": "string"
        },
        "groundingMetadata": {
          "$ref": "GroundingMetadata",
          "description": "Output only. Grounding metadata for the candidate. This field is populated for `GenerateContent` calls.",
          "readOnly": true
        },
        "index": {
          "description": "Output only. Index of the candidate in the list of response candidates.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "logprobsResult": {
          "$ref": "LogprobsResult",
          "description": "Output only. Log-likelihood scores for the response tokens and top tokens",
          "readOnly": true
        },
        "safetyRatings": {
          "description": "List of ratings for the safety of a response candidate. There is at most one rating per category.",
          "items": {
            "$ref": "SafetyRating"
          },
          "type": "array"
        },
        "tokenCount": {
          "description": "Output only. Token count for this candidate.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "urlContextMetadata": {
          "$ref": "UrlContextMetadata",
          "description": "Output only. Metadata related to url context retrieval tool.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "CitationMetadata": {
      "description": "A collection of source attributions for a piece of content.",
      "id": "CitationMetadata",
      "properties": {
        "citationSources": {
          "description": "Citations to sources for a specific response.",
          "items": {
            "$ref": "CitationSource"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CitationSource": {
      "description": "A citation to a source for a portion of a specific response.",
      "id": "CitationSource",
      "properties": {
        "endIndex": {
          "description": "Optional. End of the attributed segment, exclusive.",
          "format": "int32",
          "type": "integer"
        },
        "license": {
          "description": "Optional. License for the GitHub project that is attributed as a source for segment. License info is required for code citations.",
          "type": "string"
        },
        "startIndex": {
          "description": "Optional. Start of segment of the response that is attributed to this source. Index indicates the start of the segment, measured in bytes.",
          "format": "int32",
          "type": "integer"
        },
        "uri": {
          "description": "Optional. URI that is attributed as a source for a portion of the text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "Content": {
      "description": "The base structured datatype containing multi-part content of a message. A `Content` includes a `role` field designating the producer of the `Content` and a `parts` field containing multi-part data that contains the content of the message turn.",
      "id": "Content",
      "properties": {
        "parts": {
          "description": "Ordered `Parts` that constitute a single message. Parts may have different MIME types.",
          "items": {
            "$ref": "Part"
          },
          "type": "array"
        },
        "role": {
          "description": "Optional. The producer of the content. Must be either 'user' or 'model'. Useful to set for multi-turn conversations, otherwise can be left blank or unset.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ContentEmbedding": {
      "description": "A list of floats representing an embedding.",
      "id": "ContentEmbedding",
      "properties": {
        "shape": {
          "description": "This field stores the soft tokens tensor frame shape (e.g. [1, 1, 256, 2048]).",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "values": {
          "description": "The embedding values. This is for 3P users only and will not be populated for 1P calls.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "CountTokensRequest": {
      "description": "Counts the number of tokens in the `prompt` sent to a model. Models may tokenize text differently, so each model may return a different `token_count`.",
      "id": "CountTokensRequest",
      "properties": {
        "contents": {
          "description": "Optional. The input given to the model as a prompt. This field is ignored when `generate_content_request` is set.",
          "items": {
            "$ref": "Content"
          },
          "type": "array"
        },
        "generateContentRequest": {
          "$ref": "GenerateContentRequest",
          "description": "Optional. The overall input given to the `Model`. This includes the prompt as well as other model steering information like [system instructions](https://ai.google.dev/gemini-api/docs/system-instructions), and/or function declarations for [function calling](https://ai.google.dev/gemini-api/docs/function-calling). `Model`s/`Content`s and `generate_content_request`s are mutually exclusive. You can either send `Model` + `Content`s or a `generate_content_request`, but never both."
        }
      },
      "type": "object"
    },
    "CountTokensResponse": {
      "description": "A response from `CountTokens`. It returns the model's `token_count` for the `prompt`.",
      "id": "CountTokensResponse",
      "properties": {
        "cacheTokensDetails": {
          "description": "Output only. List of modalities that were processed in the cached content.",
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "readOnly": true,
          "type": "array"
        },
        "promptTokensDetails": {
          "description": "Output only. List of modalities that were processed in the request input.",
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "readOnly": true,
          "type": "array"
        },
        "totalTokens": {
          "description": "The number of tokens that the `Model` tokenizes the `prompt` into. Always non-negative.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "CreateTunedModelMetadata": {
      "description": "Metadata about the state and progress of creating a tuned model returned from the long-running operation",
      "id": "CreateTunedModelMetadata",
      "properties": {
        "completedPercent": {
          "description": "The completed percentage for the tuning operation.",
          "format": "float",
          "type": "number"
        },
        "completedSteps": {
          "description": "The number of steps completed.",
          "format": "int32",
          "type": "integer"
        },
        "snapshots": {
          "description": "Metrics collected during tuning.",
          "items": {
            "$ref": "TuningSnapshot"
          },
          "type": "array"
        },
        "totalSteps": {
          "description": "The total number of tuning steps.",
          "format": "int32",
          "type": "integer"
        },
        "tunedModel": {
          "description": "Name of the tuned model associated with the tuning operation.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmbedContentBatch": {
      "description": "A resource representing a batch of `EmbedContent` requests.",
      "id": "EmbedContentBatch",
      "properties": {
        "batchStats": {
          "$ref": "EmbedContentBatchStats",
          "description": "Output only. Stats about the batch.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which the batch was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of this batch.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time at which the batch processing completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "inputConfig": {
          "$ref": "InputEmbedContentConfig",
          "description": "Required. Input configuration of the instances on which batch processing are performed."
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "output": {
          "$ref": "EmbedContentBatchOutput",
          "description": "Output only. The output of the batch request.",
          "readOnly": true
        },
        "priority": {
          "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the batch.",
          "enum": [
            "BATCH_STATE_UNSPECIFIED",
            "BATCH_STATE_PENDING",
            "BATCH_STATE_RUNNING",
            "BATCH_STATE_SUCCEEDED",
            "BATCH_STATE_FAILED",
            "BATCH_STATE_CANCELLED",
            "BATCH_STATE_EXPIRED"
          ],
          "enumDescriptions": [
            "The batch state is unspecified.",
            "The service is preparing to run the batch.",
            "The batch is in progress.",
            "The batch completed successfully.",
            "The batch failed.",
            "The batch has been cancelled.",
            "The batch has expired."
          ],
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the batch was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmbedContentBatchOutput": {
      "description": "The output of a batch request. This is returned in the `AsyncBatchEmbedContentResponse` or the `EmbedContentBatch.output` field.",
      "id": "EmbedContentBatchOutput",
      "properties": {
        "inlinedResponses": {
          "$ref": "InlinedEmbedContentResponses",
          "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests.",
          "readOnly": true
        },
        "responsesFile": {
          "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `EmbedContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmbedContentBatchStats": {
      "description": "Stats about the batch.",
      "id": "EmbedContentBatchStats",
      "properties": {
        "failedRequestCount": {
          "description": "Output only. The number of requests that failed to be processed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "pendingRequestCount": {
          "description": "Output only. The number of requests that are still pending processing.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "requestCount": {
          "description": "Output only. The number of requests in the batch.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        },
        "successfulRequestCount": {
          "description": "Output only. The number of requests that were successfully processed.",
          "format": "int64",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmbedContentConfig": {
      "description": "Configurations for the EmbedContent request.",
      "id": "EmbedContentConfig",
      "properties": {
        "audioTrackExtraction": {
          "description": "Optional. Whether to extract audio from video content.",
          "type": "boolean"
        },
        "autoTruncate": {
          "description": "Optional. Whether to silently truncate the input content if it's longer than the maximum sequence length.",
          "type": "boolean"
        },
        "documentOcr": {
          "description": "Optional. Whether to enable OCR for document content.",
          "type": "boolean"
        },
        "outputDimensionality": {
          "description": "Optional. Reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end.",
          "format": "int32",
          "type": "integer"
        },
        "taskType": {
          "description": "Optional. The task type of the embedding.",
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION",
            "CODE_RETRIEVAL_QUERY"
          ],
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the given text will be used for question answering.",
            "Specifies that the given text will be used for fact verification.",
            "Specifies that the given text will be used for code retrieval."
          ],
          "type": "string"
        },
        "title": {
          "description": "Optional. The title for the text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmbedContentRequest": {
      "description": "Request containing the `Content` for the model to embed.",
      "id": "EmbedContentRequest",
      "properties": {
        "content": {
          "$ref": "Content",
          "description": "Required. The content to embed. Only the `parts.text` fields will be counted."
        },
        "embedContentConfig": {
          "$ref": "EmbedContentConfig",
          "description": "Optional. Configuration for the EmbedContent request."
        },
        "model": {
          "description": "Required. The model's resource name. This serves as an ID for the Model to use. This name should match a model name returned by the `ListModels` method. Format: `models/{model}`",
          "type": "string"
        },
        "outputDimensionality": {
          "deprecated": true,
          "description": "Optional. Deprecated: Please use EmbedContentConfig.output_dimensionality instead. Optional reduced dimension for the output embedding. If set, excessive values in the output embedding are truncated from the end. Supported by newer models since 2024 only. You cannot set this value if using the earlier model (`models/embedding-001`).",
          "format": "int32",
          "type": "integer"
        },
        "taskType": {
          "deprecated": true,
          "description": "Optional. Deprecated: Please use EmbedContentConfig.task_type instead. Optional task type for which the embeddings will be used. Not supported on earlier models (`models/embedding-001`).",
          "enum": [
            "TASK_TYPE_UNSPECIFIED",
            "RETRIEVAL_QUERY",
            "RETRIEVAL_DOCUMENT",
            "SEMANTIC_SIMILARITY",
            "CLASSIFICATION",
            "CLUSTERING",
            "QUESTION_ANSWERING",
            "FACT_VERIFICATION",
            "CODE_RETRIEVAL_QUERY"
          ],
          "enumDescriptions": [
            "Unset value, which will default to one of the other enum values.",
            "Specifies the given text is a query in a search/retrieval setting.",
            "Specifies the given text is a document from the corpus being searched.",
            "Specifies the given text will be used for STS.",
            "Specifies that the given text will be classified.",
            "Specifies that the embeddings will be used for clustering.",
            "Specifies that the given text will be used for question answering.",
            "Specifies that the given text will be used for fact verification.",
            "Specifies that the given text will be used for code retrieval."
          ],
          "type": "string"
        },
        "title": {
          "deprecated": true,
          "description": "Optional. Deprecated: Please use EmbedContentConfig.title instead. An optional title for the text. Only applicable when TaskType is `RETRIEVAL_DOCUMENT`. Note: Specifying a `title` for `RETRIEVAL_DOCUMENT` provides better quality embeddings for retrieval.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "EmbedContentResponse": {
      "description": "The response to an `EmbedContentRequest`.",
      "id": "EmbedContentResponse",
      "properties": {
        "embedding": {
          "$ref": "ContentEmbedding",
          "description": "Output only. The embedding generated from the input content.",
          "readOnly": true
        },
        "usageMetadata": {
          "$ref": "EmbeddingUsageMetadata",
          "description": "Output only. The usage metadata for the request.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "EmbeddingUsageMetadata": {
      "description": "Metadata on the usage of the embedding request.",
      "id": "EmbeddingUsageMetadata",
      "properties": {
        "promptTokenCount": {
          "description": "Output only. Number of tokens in the prompt.",
          "format": "int32",
          "readOnly": true,
          "type": "integer"
        },
        "promptTokenDetails": {
          "description": "Output only. List of modalities that were processed in the request input.",
          "items": {
            "$ref": "ModalityTokenCount"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "Empty": {
      "description": "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }",
      "id": "Empty",
      "properties": {},
      "type": "object"
    },
    "GenerateContentBatch": {
      "description": "A resource representing a batch of `GenerateContent` requests.",
      "id": "GenerateContentBatch",
      "properties": {
        "batchStats": {
          "$ref": "BatchStats",
          "description": "Output only. Stats about the batch.",
          "readOnly": true
        },
        "createTime": {
          "description": "Output only. The time at which the batch was created.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "displayName": {
          "description": "Required. The user-defined name of this batch.",
          "type": "string"
        },
        "endTime": {
          "description": "Output only. The time at which the batch processing completed.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        },
        "inputConfig": {
          "$ref": "InputConfig",
          "description": "Required. Input configuration of the instances on which batch processing are performed."
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "name": {
          "description": "Output only. Identifier. Resource name of the batch. Format: `batches/{batch_id}`.",
          "readOnly": true,
          "type": "string"
        },
        "output": {
          "$ref": "GenerateContentBatchOutput",
          "description": "Output only. The output of the batch request.",
          "readOnly": true
        },
        "priority": {
          "description": "Optional. The priority of the batch. Batches with a higher priority value will be processed before batches with a lower priority value. Negative values are allowed. Default is 0.",
          "format": "int64",
          "type": "string"
        },
        "state": {
          "description": "Output only. The state of the batch.",
          "enum": [
            "BATCH_STATE_UNSPECIFIED",
            "BATCH_STATE_PENDING",
            "BATCH_STATE_RUNNING",
            "BATCH_STATE_SUCCEEDED",
            "BATCH_STATE_FAILED",
            "BATCH_STATE_CANCELLED",
            "BATCH_STATE_EXPIRED"
          ],
          "enumDescriptions": [
            "The batch state is unspecified.",
            "The service is preparing to run the batch.",
            "The batch is in progress.",
            "The batch completed successfully.",
            "The batch failed.",
            "The batch has been cancelled.",
            "The batch has expired."
          ],
          "readOnly": true,
          "type": "string"
        },
        "updateTime": {
          "description": "Output only. The time at which the batch was last updated.",
          "format": "google-datetime",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GenerateContentBatchOutput": {
      "description": "The output of a batch request. This is returned in the `BatchGenerateContentResponse` or the `GenerateContentBatch.output` field.",
      "id": "GenerateContentBatchOutput",
      "properties": {
        "inlinedResponses": {
          "$ref": "InlinedResponses",
          "description": "Output only. The responses to the requests in the batch. Returned when the batch was built using inlined requests. The responses will be in the same order as the input requests.",
          "readOnly": true
        },
        "responsesFile": {
          "description": "Output only. The file ID of the file containing the responses. The file will be a JSONL file with a single response per line. The responses will be `GenerateContentResponse` messages formatted as JSON. The responses will be written in the same order as the input requests.",
          "readOnly": true,
          "type": "string"
        }
      },
      "type": "object"
    },
    "GenerateContentRequest": {
      "description": "Request to generate a completion from the model.",
      "id": "GenerateContentRequest",
      "properties": {
        "contents": {
          "description": "Required. The content of the current conversation with the model. For single-turn queries, this is a single instance. For multi-turn queries like [chat](https://ai.google.dev/gemini-api/docs/text-generation#chat), this is a repeated field that contains the conversation history and the latest request.",
          "items": {
            "$ref": "Content"
          },
          "type": "array"
        },
        "generationConfig": {
          "$ref": "GenerationConfig",
          "description": "Optional. Configuration options for model generation and outputs."
        },
        "model": {
          "description": "Required. The name of the `Model` to use for generating the completion. Format: `models/{model}`.",
          "type": "string"
        },
        "safetySettings": {
          "description": "Optional. A list of unique `SafetySetting` instances for blocking unsafe content. This will be enforced on the `GenerateContentRequest.contents` and `GenerateContentResponse.candidates`. There should not be more than one setting for each `SafetyCategory` type. The API will block any contents and responses that fail to meet the thresholds set by these settings. This list overrides the default settings for each `SafetyCategory` specified in the safety_settings. If there is no `SafetySetting` for a given `SafetyCategory` provided in the list, the API will use the default safety setting for that category. Harm categories HARM_CATEGORY_HATE_SPEECH, HARM_CATEGORY_SEXUALLY_EXPLICIT, HARM_CATEGORY_DANGEROUS_CONTENT, HARM_CATEGORY_HARASSMENT, HARM_CATEGORY_CIVIC_INTEGRITY are supported. Refer to the [guide](https://ai.google.dev/gemini-api/docs/safety-settings) for detailed information on available safety settings. Also refer to the [Safety guidance](https://ai.google.dev/gemini-api/docs/safety-guidance) to learn how to incorporate safety considerations in your AI applications.",
          "items": {
            "$ref": "SafetySetting"
          },
          "type": "array"
        },
        "serviceTier": {
          "description": "Optional. The service tier of the request.",
          "enum": [
            "unspecified",
            "standard",
            "flex",
            "priority"
          ],
          "enumDescriptions": [
            "Default service tier, which is standard.",
            "Standard service tier.",
            "Flex service tier.",
            "Priority service tier."
          ],
          "type": "string"
        },
        "store": {
          "description": "Optional. Configures the logging behavior for a given request. If set, it takes precedence over the project-level logging config.",
          "type": "boolean"
        }
      },
      "type": "object"
    },
    "GenerateContentResponse": {
      "description": "Response from the model supporting multiple candidate responses. Safety ratings and content filtering are reported for both prompt in `GenerateContentResponse.prompt_feedback` and for each candidate in `finish_reason` and in `safety_ratings`. The API: - Returns either all requested candidates or none of them - Returns no candidates at all only if there was something wrong with the prompt (check `prompt_feedback`) - Reports feedback on each candidate in `finish_reason` and `safety_ratings`.",
      "id": "GenerateContentResponse",
      "properties": {
        "candidates": {
          "description": "Candidate responses from the model.",
          "items": {
            "$ref": "Candidate"
          },
          "type": "array"
        },
        "modelStatus": {
          "$ref": "ModelStatus",
          "description": "Output only. The current model status of this model.",
          "readOnly": true
        },
        "modelVersion": {
          "description": "Output only. The model version used to generate the response.",
          "readOnly": true,
          "type": "string"
        },
        "promptFeedback": {
          "$ref": "PromptFeedback",
          "description": "Returns the prompt's feedback related to the content filters."
        },
        "responseId": {
          "description": "Output only. response_id is used to identify each response.",
          "readOnly": true,
          "type": "string"
        },
        "usageMetadata": {
          "$ref": "UsageMetadata",
          "description": "Output only. Metadata on the generation requests' token usage.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "GenerationConfig": {
      "description": "Configuration options for model generation and outputs. Not all parameters are configurable for every model.",
      "id": "GenerationConfig",
      "properties": {
        "candidateCount": {
          "description": "Optional. Number of generated responses to return. If unset, this will default to 1. Please note that this doesn't work for previous generation models (Gemini 1.0 family)",
          "format": "int32",
          "type": "integer"
        },
        "enableEnhancedCivicAnswers": {
          "description": "Optional. Enables enhanced civic answers. It may not be available for all models.",
          "type": "boolean"
        },
        "frequencyPenalty": {
          "description": "Optional. Frequency penalty applied to the next token's logprobs, multiplied by the number of times each token has been seen in the respponse so far. A positive penalty will discourage the use of tokens that have already been used, proportional to the number of times the token has been used: The more a token is used, the more difficult it is for the model to use that token again increasing the vocabulary of responses. Caution: A _negative_ penalty will encourage the model to reuse tokens proportional to the number of times the token has been used. Small negative values will reduce the vocabulary of a response. Larger negative values will cause the model to start repeating a common token until it hits the max_output_tokens limit.",
          "format": "float",
          "type": "number"
        },
        "logprobs": {
          "description": "Optional. Only valid if response_logprobs=True. This sets the number of top logprobs, including the chosen candidate, to return at each decoding step in the Candidate.logprobs_result. The number must be in the range of [0, 20].",
          "format": "int32",
          "type": "integer"
        },
        "maxOutputTokens": {
          "description": "Optional. The maximum number of tokens to include in a response candidate. Note: The default value varies by model, see the `Model.output_token_limit` attribute of the `Model` returned from the `getModel` function.",
          "format": "int32",
          "type": "integer"
        },
        "presencePenalty": {
          "description": "Optional. Presence penalty applied to the next token's logprobs if the token has already been seen in the response. This penalty is binary on/off and not dependant on the number of times the token is used (after the first). Use frequency_penalty for a penalty that increases with each use. A positive penalty will discourage the use of tokens that have already been used in the response, increasing the vocabulary. A negative penalty will encourage the use of tokens that have already been used in the response, decreasing the vocabulary.",
          "format": "float",
          "type": "number"
        },
        "responseJsonSchema": {
          "description": "Optional. An internal detail. Use `responseJsonSchema` rather than this field.",
          "type": "any"
        },
        "responseLogprobs": {
          "description": "Optional. If true, export the logprobs results in response.",
          "type": "boolean"
        },
        "seed": {
          "description": "Optional. Seed used in decoding. If not set, the request uses a randomly generated seed.",
          "format": "int32",
          "type": "integer"
        },
        "stopSequences": {
          "description": "Optional. The set of character sequences (up to 5) that will stop output generation. If specified, the API will stop at the first appearance of a `stop_sequence`. The stop sequence will not be included as part of the response.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "temperature": {
          "description": "Optional. Controls the randomness of the output. Note: The default value varies by model, see the `Model.temperature` attribute of the `Model` returned from the `getModel` function. Values can range from [0.0, 2.0].",
          "format": "float",
          "type": "number"
        },
        "topK": {
          "description": "Optional. The maximum number of tokens to consider when sampling. Gemini models use Top-p (nucleus) sampling or a combination of Top-k and nucleus sampling. Top-k sampling considers the set of `top_k` most probable tokens. Models running with nucleus sampling don't allow top_k setting. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
          "format": "int32",
          "type": "integer"
        },
        "topP": {
          "description": "Optional. The maximum cumulative probability of tokens to consider when sampling. The model uses combined Top-k and Top-p (nucleus) sampling. Tokens are sorted based on their assigned probabilities so that only the most likely tokens are considered. Top-k sampling directly limits the maximum number of tokens to consider, while Nucleus sampling limits the number of tokens based on the cumulative probability. Note: The default value varies by `Model` and is specified by the`Model.top_p` attribute returned from the `getModel` function. An empty `top_k` attribute indicates that the model doesn't apply top-k sampling and doesn't allow setting `top_k` on requests.",
          "format": "float",
          "type": "number"
        }
      },
      "type": "object"
    },
    "GroundingChunk": {
      "description": "A `GroundingChunk` represents a segment of supporting evidence that grounds the model's response. It can be a chunk from the web, a retrieved context from a file, or information from Google Maps.",
      "id": "GroundingChunk",
      "properties": {
        "web": {
          "$ref": "Web",
          "description": "Grounding chunk from the web."
        }
      },
      "type": "object"
    },
    "GroundingMetadata": {
      "description": "Metadata returned to client when grounding is enabled.",
      "id": "GroundingMetadata",
      "properties": {
        "googleMapsWidgetContextToken": {
          "description": "Optional. Resource name of the Google Maps widget context token that can be used with the PlacesContextElement widget in order to render contextual data. Only populated in the case that grounding with Google Maps is enabled.",
          "type": "string"
        },
        "groundingChunks": {
          "description": "List of supporting references retrieved from specified grounding source. When streaming, this only contains the grounding chunks that have not been included in the grounding metadata of previous responses.",
          "items": {
            "$ref": "GroundingChunk"
          },
          "type": "array"
        },
        "groundingSupports": {
          "description": "List of grounding support.",
          "items": {
            "$ref": "GroundingSupport"
          },
          "type": "array"
        },
        "imageSearchQueries": {
          "description": "Image search queries used for grounding.",
          "items": {
            "type": "string"
          },
          "type": "array"
        },
        "retrievalMetadata": {
          "$ref": "RetrievalMetadata",
          "description": "Metadata related to retrieval in the grounding flow."
        },
        "searchEntryPoint": {
          "$ref": "SearchEntryPoint",
          "description": "Optional. Google search entry for the following-up web searches."
        },
        "webSearchQueries": {
          "description": "Web search queries for the following-up web search.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "GroundingSupport": {
      "description": "Grounding support.",
      "id": "GroundingSupport",
      "properties": {
        "confidenceScores": {
          "description": "Optional. Confidence score of the support references. Ranges from 0 to 1. 1 is the most confident. This list must have the same size as the grounding_chunk_indices.",
          "items": {
            "format": "float",
            "type": "number"
          },
          "type": "array"
        },
        "groundingChunkIndices": {
          "description": "Optional. A list of indices (into 'grounding_chunk' in `response.candidate.grounding_metadata`) specifying the citations associated with the claim. For instance [1,3,4] means that grounding_chunk[1], grounding_chunk[3], grounding_chunk[4] are the retrieved content attributed to the claim. If the response is streaming, the grounding_chunk_indices refer to the indices across all responses. It is the client's responsibility to accumulate the grounding chunks from all responses (while maintaining the same order).",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "type": "array"
        },
        "renderedParts": {
          "description": "Output only. Indices into the `parts` field of the candidate's content. These indices specify which rendered parts are associated with this support source.",
          "items": {
            "format": "int32",
            "type": "integer"
          },
          "readOnly": true,
          "type": "array"
        },
        "segment": {
          "$ref": "Segment",
          "description": "Segment of the content this support belongs to."
        }
      },
      "type": "object"
    },
    "InlinedEmbedContentRequest": {
      "description": "The request to be processed in the batch.",
      "id": "InlinedEmbedContentRequest",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The metadata to be associated with the request.",
          "type": "object"
        },
        "request": {
          "$ref": "EmbedContentRequest",
          "description": "Required. The request to be processed in the batch."
        }
      },
      "type": "object"
    },
    "InlinedEmbedContentRequests": {
      "description": "The requests to be processed in the batch if provided as part of the batch creation request.",
      "id": "InlinedEmbedContentRequests",
      "properties": {
        "requests": {
          "description": "Required. The requests to be processed in the batch.",
          "items": {
            "$ref": "InlinedEmbedContentRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "InlinedEmbedContentResponse": {
      "description": "The response to a single request in the batch.",
      "id": "InlinedEmbedContentResponse",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Output only. The error encountered while processing the request.",
          "readOnly": true
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The metadata associated with the request.",
          "readOnly": true,
          "type": "object"
        },
        "response": {
          "$ref": "EmbedContentResponse",
          "description": "Output only. The response to the request.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "InlinedEmbedContentResponses": {
      "description": "The responses to the requests in the batch.",
      "id": "InlinedEmbedContentResponses",
      "properties": {
        "inlinedResponses": {
          "description": "Output only. The responses to the requests in the batch.",
          "items": {
            "$ref": "InlinedEmbedContentResponse"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "InlinedRequest": {
      "description": "The request to be processed in the batch.",
      "id": "InlinedRequest",
      "properties": {
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Optional. The metadata to be associated with the request.",
          "type": "object"
        },
        "request": {
          "$ref": "GenerateContentRequest",
          "description": "Required. The request to be processed in the batch."
        }
      },
      "type": "object"
    },
    "InlinedRequests": {
      "description": "The requests to be processed in the batch if provided as part of the batch creation request.",
      "id": "InlinedRequests",
      "properties": {
        "requests": {
          "description": "Required. The requests to be processed in the batch.",
          "items": {
            "$ref": "InlinedRequest"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "InlinedResponse": {
      "description": "The response to a single request in the batch.",
      "id": "InlinedResponse",
      "properties": {
        "error": {
          "$ref": "Status",
          "description": "Output only. The error encountered while processing the request.",
          "readOnly": true
        },
        "metadata": {
          "additionalProperties": {
            "description": "Properties of the object.",
            "type": "any"
          },
          "description": "Output only. The metadata associated with the request.",
          "readOnly": true,
          "type": "object"
        },
        "response": {
          "$ref": "GenerateContentResponse",
          "description": "Output only. The response to the request.",
          "readOnly": true
        }
      },
      "type": "object"
    },
    "InlinedResponses": {
      "description": "The responses to the requests in the batch.",
      "id": "InlinedResponses",
      "properties": {
        "inlinedResponses": {
          "description": "Output only. The responses to the requests in the batch.",
          "items": {
            "$ref": "InlinedResponse"
          },
          "readOnly": true,
          "type": "array"
        }
      },
      "type": "object"
    },
    "InputConfig": {
      "description": "Configures the input to the batch request.",
      "id": "InputConfig",
      "properties": {
        "fileName": {
          "description": "The name of the `File` containing the input requests.",
          "type": "string"
        },
        "requests": {
          "$ref": "InlinedRequests",
          "description": "The requests to be processed in the batch."
        }
      },
      "type": "object"
    },
    "InputEmbedContentConfig": {
      "description": "Configures the input to the batch request.",
      "id": "InputEmbedContentConfig",
      "properties": {
        "fileName": {
          "description": "The name of the `File` containing the input requests.",
          "type": "string"
        },
        "requests": {
          "$ref": "InlinedEmbedContentRequests",
          "description": "The requests to be processed in the batch."
        }
      },
      "type": "object"
    },
    "ListModelsResponse": {
      "description": "Response from `ListModel` containing a paginated list of Models.",
      "id": "ListModelsResponse",
      "properties": {
        "models": {
          "description": "The returned Models.",
          "items": {
            "$ref": "Model"
          },
          "type": "array"
        },
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no more pages.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "ListOperationsResponse": {
      "description": "The response message for Operations.ListOperations.",
      "id": "ListOperationsResponse",
      "properties": {
        "nextPageToken": {
          "description": "The standard List next-page token.",
          "type": "string"
        },
        "operations": {
          "description": "A list of operations that matches the specified filter in the request.",
          "items": {
            "$ref": "Operation"
          },
          "type": "array"
        },
        "unreachable": {
          "description": "Unordered list. Unreachable resources. Populated when the request sets `ListOperationsRequest.return_partial_success` and reads across collections. For example, when attempting to list all resources across all supported locations.",
          "items": {
            "type": "string"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LogprobsResult": {
      "description": "Logprobs Result",
      "id": "LogprobsResult",
      "properties": {
        "chosenCandidates": {
          "description": "Length = total number of decoding steps. The chosen candidates may or may not be in top_candidates.",
          "items": {
            "$ref": "LogprobsResultCandidate"
          },
          "type": "array"
        },
        "logProbabilitySum": {
          "description": "Sum of log probabilities for all tokens.",
          "format": "float",
          "type": "number"
        },
        "topCandidates": {
          "description": "Length = total number of decoding steps.",
          "items": {
            "$ref": "TopCandidates"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "LogprobsResultCandidate": {
      "description": "Candidate for the logprobs token and score.",
      "id": "LogprobsResultCandidate",
      "properties": {
        "logProbability": {
          "description": "The candidate's log probability.",
          "format": "float",
          "type": "number"
        },
        "token": {
          "description": "The candidate\u2019s token string value.",
          "type": "string"
        },
        "tokenId": {
          "description": "The candidate\u2019s token id value.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ModalityTokenCount": {
      "description": "Represents token counting info for a single modality.",
      "id": "ModalityTokenCount",
      "properties": {
        "modality": {
          "description": "The modality associated with this token count.",
          "enum": [
            "MODALITY_UNSPECIFIED",
            "TEXT",
            "IMAGE",
            "VIDEO",
            "AUDIO",
            "DOCUMENT"
          ],
          "enumDescriptions": [
            "Unspecified modality.",
            "Plain text.",
            "Image.",
            "Video.",
            "Audio.",
            "Document, e.g. PDF."
          ],
          "type": "string"
        },
        "tokenCount": {
          "description": "Number of tokens.",
          "format": "int32",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "Model": {
      "description": "Information about a Generative Language Model.",
      "id": "Model",
      "properties": {
        "baseModelId": {
          "description": "Required. The name of the base model, pass this to the generation request. Examples: * `gemini-1.5-flash`",
          "type": "string"
        },
        "description": {
          "description": "A short description of the model.",
          "type": "string"
        },
        "displayName": {
          "description": "The human-readable name of the model. E.g. \"Gemini 1.5 Flash\". The name can be up to 128 characters long and can consist of any UTF-8 characters.",
          "type": "string"
        },
        "inputTokenLimit": {
          "description": "Maximum number of input tokens allowed for this model.",
          "format": "int32",
          "type": "integer"
        },
        "maxTemperature": {
          "description": "The maximum temperature this model can use.",
          "format": "float",
          "type": "number"
        },
        "name": {
          "description": "Required. The resource name of the `Model`. Refer to [Model variants](https://ai.google.dev/gemini-api/docs/models/gemini#model-variations) for all allowed values. Format: `models/{model}` with a `{model}` naming convention of: * \"{base_model_id}-{version}\" Examples: * `models/gemini-1.5-flash-001`",
          "type": "string"
        },
        "outputTokenLimit": {
          "description": "Maximum number of output tokens available for this model.",
          "format": "int32",
          "type": "integer"
        },
        "supportedGenerationMethods": {
[...]
