ZAPIER_BASE_URL=https://api.zapier.com
ZAPIER_AI_ACTIONS_BASE_URL=https://actions.zapier.com
ZAPIER_TRIGGER_INBOX_BASE_URL=https://api.zapier.com
ZAPIER_TIMEOUT_S=30
ZAPIER_ACCESS_TOKEN=
ZAPIER_CLIENT_ID=
ZAPIER_CLIENT_SECRET=
ZAPIER_JWT=
